@import "reset";
@import "loader";


body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0,0,0,.05);
}

.done {
  text-decoration: line-through;
  background-color: rgba(0,0,0,.2); 
  animation-name: color;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: rgba(0,0,0,.2);
  }
  50% {
    background-color: rgba(0,0,0,.1);
  }
  100% {
    background-color: rgba(0,0,0,.2);
  }
}

.newTodo {
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
}

.addTodo {
  border: 1px solid black;
  margin: 2px;
  padding: 5px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  background-color: gold;
}

.header {
  text-align: center;
  h1 {
    margin: 15px 0;
    font-size: 54px;
    font-family: 'Liu Jian Mao Cao', cursive;
  }
  .newTodo {
    margin: 10px 0;
    border: none;
    border: 1px solid black;
  }
}

.list {
  width: 85%;
  max-width: 600px;
  margin: 0 auto;
  font-size: 18px;
  padding-top: 15px;
  li {
    height: 50px;
    padding-left: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gold;
    border-radius: 10px;
    margin-bottom: 5px;
    .buttons {
      opacity: 0;
      margin: 2px;
      padding: 2px;
      button {
        width: 40px;
        height: 40px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
        background-color: gold;
        cursor: pointer;
      }
      button:nth-child(2) {
        margin: 0 10px;
      }
    }
  }
}

li:hover > .buttons{
  opacity: 1;
  animation: 1s fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// font-family: 'Roboto', sans-serif;
// font-family: 'Liu Jian Mao Cao', cursive;
  
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  .modal-content { /* Modal Content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 70px;
    margin: auto;
    border: 1px solid #888;
    padding: 20px;
    background-color: #fefefe;
    div {
      display: flex;
      justify-content: flex-start;
      .popupInput {
        border: 1px solid black;
        margin: 2px;
        padding: 5px;
        font-size: 18px;
        border-radius: 10px;
      }
      .cancelModal {
        border: 1px solid black;
        margin: 2px;
        padding: 5px;
        cursor: pointer;
        font-size: 18px;
        border-radius: 10px;
        background-color: gold;

      }
      .acceptModal {
        border: 1px solid black;
        margin: 2px;
        padding: 5px;
        cursor: pointer;
        font-size: 18px;
        border-radius: 10px;
        background-color: gold;
      }
    }
    .close { /* The Close Button */
      color: #aaaaaa;
      font-size: 50px;
      font-weight: bold;
      &:hover, &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}